.advantages {
  margin: 0;
  list-style: none;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.advantages__slogan {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: center;
    padding: 0;
  }

  &:first-of-type {
    padding: 25px 0 25px;
  }
}

.advantages__description {
  color: $darkgrey;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0;
  }
}

.advantages__item {
  position: relative;
  padding: 0 0 25px 50px;

  &--home {
    &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/icon/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 40px;
    height: 37px;
      top: 20px;
      left: 0;
    }
  }

  &--souvenirs {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/icon/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 40px;
      height: 37px;
      top: 20px;
      left: 0;
    }
  }

  &--food {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/icon/icon-burger.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 40px;
      height: 37px;
      top: 20px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    height: 403px;
    padding: 0;
  }
}
