.advantages {
  margin: 0;
  list-style: none;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.advantages__slogan {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: center;
    padding: 0;
  }

  &:first-of-type {
    padding: 25px 0 25px;
  }
}

.advantages__description {
  color: $darkgrey;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  margin: 0;
  padding: 0 0 25px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    height: 403px;
  }
}
