.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  background-color: $paleblue;
  padding: 19px 32px 13px 32px;
  border: none;
  display: block;

  &:hover {
    background: $hover;
  }

  &:active {
    background: $active;
  }

  &:active {
    &::before {
      content: "";
      opacity: 0.3;
    }
  }
}
