.feedback__container {
  margin: 0 auto;
  width: auto;
  box-sizing: border-box;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0 120px;
  }
}

.feedback__image {
  background-image: url("../../img/icon/image-banner-footer.svg"), url("../../img/back-form-desktop.jpg");
  min-height: 159px;
  padding: 0;
  margin: 0 auto;
  background-position: 50% 100%, 45% 77%;
  background-repeat: no-repeat;
  max-width: 1200px;
  width: auto;
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    min-height: 290px;
    background-position: 50% 100%, 50% 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    min-height: 300px;
  }
}

.feedback__header {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 105px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 258px 37px;
  }
}

.feedback__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 35px 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    padding: 70px 0 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 0 34px;
  }
}

.feedback__description {
  color: $darkgrey;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0 0 20px;
}

.feedback__banner {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  width: 229px;

  @media (min-width: $tablet-width) {
    width: 457px;
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    padding-top: 102px;
  }
}
