.feedback__container {
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 120px;
  }
}

.feedback__image {
  background-image: url("../../img/back-form-mobile.png");
  width: 320px;
  height: 230px;
  padding: 0;
  margin: 0 auto;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/back-form-tablet.jpg");
    width: 768px;
    height: 346px;
    padding: 0;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-form-desktop.jpg");
    width: 1200px;
    height: 357px;
    padding: 0;
    background-repeat: no-repeat;
  }
}

.feedback__header {
  padding: 0;
}

.feedback__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 0 25px;
}

.feedback__description {
  color: $darkgrey;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 0 25px;
}

.feedback__banner {
  display: block;
  margin: 0 auto;
  padding-top: 70px;
}
