.gallery__banner {
  display: block;
  margin: 0 auto;
  padding-top: 70px;
  width: 229px;

  @media (min-width: $tablet-width) {
    width: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}

.gallery__header {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 430px;
    margin: 0 auto;
  }
}

.gallery__image {
  background-image: url("../../img/back-form-mobile.png");
  min-height: 158px;
  padding: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50%, bottom;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/back-form-tablet.jpg");
    max-width: 768px;
    height: 346px;
    padding: 0;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-form-desktop.jpg");
    max-width: 1200px;
    height: 357px;
    padding: 0;
    background-repeat: no-repeat;
  }
}

.gallery__container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 648px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0;
  }
}

.gallery__item {
  border-top: 1px solid $legend-top;
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 20px;

  &:last-of-type {
    border-bottom: 1px solid $legend-top;
    padding-top: 22px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    width: 50%;

    &:first-of-type {
      width: 100%;
      max-width: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc(100% / 3);
  }
}

.gallery__slogan {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 24px;
  }
}

.gallery__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $darkgrey;
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery__photo {
  display: block;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.gallery__information-photo {
  padding: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  &--color {
    @media (min-width: $tablet-width) {
      background-color: $greyinput;
    }

    @media (min-width: $desktop-width) {
      background-color: $black;
      opacity: 0.3;
    }
  }
}

.gallery__photo-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.gallery__photo-writer {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  color: $darkgrey;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.gallery__photo-like {
  background-image: url("../../img/icon/icon-like.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.gallery__photo-liked {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding: 0 0 0 34px;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
