.hotel-search__container {
  margin: 0 auto;
  padding: 34px 20px 50px;
  width: auto;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
    padding: 56px 20px 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 20px 65px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 166px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 383px;
    font-size: 30px;
  }
}

.hotel-search__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: $darkgrey;
  text-align: center;
  margin: 0;
  padding: 21px 5px 27px 5px;

  @media (min-width: $tablet-width) {
    padding: 36px 30px 35px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 30px 42px 30px;
  }

  & br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.hotel-search__button {
  margin: 0 auto;
}
