.map__container {
  text-align: center;
  //margin: 0 auto;
  padding: 20px 19px 20px 19px;
  width: 320px;
  box-sizing: border-box;
  //outline: 5px solid rgba(11, 10, 11, 0.3);
  //outline-offset: -5px;
}
