.map__container {
  margin: 0 auto;
  padding: 0;
  width: auto;
}

.map__container--image {
  background-image: url("../../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  max-width: 1200px;
  min-height: 350px;
}
