.nav__item {
  text-align: center;
  background-color: $paleblue;
  box-shadow: 0 1px 0 $nav-border, inset 0 1px 0 $nav-inset;
  padding: 10px 20px 10px 20px;

  &:nth-child(5) {
    height: 56px;
  }

  @media (min-width: $tablet-width) {
    background-color: $white;
    box-shadow: none;
    display: flex;
    width: 153px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
      width: 156px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 239px;
  }

  &--logo {
    position: relative;
    background-color: #ffffff;
    height: 56px;
    padding: 0;
    display: block;
    box-shadow: none;
    min-width: 320px;

    &::before {
    position: absolute;
    top: 240px;
    left: 87px;
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      margin: 0;
      display: none;
    }
  }
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.nav__link {
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 14px;
    line-height: 26px;
  }
}

.nav__container {
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.nav__toggle {
  border: none;
  background-color: $white;
  display: none;
}

