.opened {
  & .nav__item {
    @media (max-width: $only-mobile-width) {
      display: block;
    }
  }

  & .nav__toggle {
    position: absolute;
    display: block;
    background-image: url("../../img/icon/icon-close.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 8px;
    right: 10px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    background-size: contain;

    @media (min-width: $tablet-width) {
      display: none;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
