.page-footer__container {
  //margin: 0 auto;
  padding: 0 10px;
  width: 320px;
  //outline: 5px solid rgba(255, 0, 255, 0.3);
  //outline-offset: -5px;
}

.page-footer__title {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 40px 0 0 0;
}

.page-footer__copyright {
  text-align: center;
  padding: 30px 0 20px 0;
}
