.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;

  &__body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-width: 320px;
    min-height: 100%;
    background-color: $grey; //заменить на $white
    color: $black;
  }
}



