.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  color: $black;

  @media (min-width: $desktop-width) {
    background-color: $background-desktop;
    box-shadow: 0 5px 15px $shadow-desktop;
  }
}
