.reason__header {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 124px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 358px;
  }
}

.reason__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.reason__container {
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    //display: flex;
    //justify-content: space-between;
    //flex-direction: row;
    //flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    //display: flex;
    //justify-content: space-between;
    //flex-direction: row;
    //flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
  }

  &--image {
    background-image: url("../../img/back-mobile.jpg");
    width: 320px;
    height: 389px;
    padding: 0;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/back-tablet.jpg");
      width: 768px;
      height: 518px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/back-banner.jpg");
      width: 1200px;
      height: 518px;
      padding: 0;
    }
  }
}

.reason__color {
  background-color: $paleblue;
  padding: 0 19px;
  outline: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.reason__image {
  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.reason__banner {
  padding: 90px 20px 0 20px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    padding: 77px 164px 0 164px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 370px 0 370px;
  }
}

.reason__slogan {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 0 25px;

  &--border {
    border-top: 1px solid $li-border;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.reason__description {
  color: $darkgrey;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 0 25px;
}

.reason__number {
  color: $darkgrey;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 0 25px;
}

.reason__item {
  &--color {
    background-color: $grey;
    padding: 0 19px;

    @media (min-width: $tablet-width) {
      height: 256px;
    }
  }

  &--one {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      //display: flex;
      //flex-direction: row;
      //height: 256px;
      //flex-wrap: wrap;
      //min-width: 256px;
    }
  }

  &--two {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      //display: flex;
      //flex-direction: row;
      //height: 256px;
      //flex-wrap: wrap;
      //min-width: 256px;

      & .reason__color {
        order: 2;
      }

      & .reason__image {
        order: 1;
      }
    }
  }
}

.reason__other {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
