.social {
  padding: 33px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 36px;
    margin: 0;
  }
}

.social__item {
  padding: 0 3px;

  @media (min-width: $tablet-width) {
    padding: 0 6px 0 0;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background: $paleblue;

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;

    & .social__link-twitter {
      opacity: 0.3;
    }

    & .social__link-facebook {
      opacity: 0.3;
    }

    & .social__link-youtube {
      opacity: 0.3;
    }
  }
}

.social__link-twitter {
  position: absolute;
  fill: $white;
  top: 15px;
  left: 13px;
}

.social__link-youtube {
  position: absolute;
  fill: $white;
  top: 16px;
  left: 13px;
}

.social__link-facebook {
  position: absolute;
  fill: $white;
  top: 13px;
  left: 17px;
}
