.video-block__container {
  margin: 0 auto;
  max-width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 648px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0;
  }
}

.video-block__header {
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    margin: 0 auto;
  }
}

.video-block__image {
  display: block;
  margin: 0 auto;
}

.video-block__slogan {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 24px;
  }
}

.video-block__description {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  color: $darkgrey;
}

.video-block__range {
  height: 23px;
  max-width: 236px;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: $black;
  opacity: 0.6;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 388px;
    height: 47px;
    padding: 45px 166px 0 94px;
  }

  @media (min-width: $desktop-width) {
    max-width: 540px;
    padding: 45px 166px 0 94px;
  }
}

.video-block__scale {
  width: 100%;
  height: 3px;
  background-color: $white;
  opacity: 0.2;
}

.video-block__menu {
  max-width: 280px;
  height: 66px;
  background-color: $greyinput;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
