.video-block__container {
  margin: 0 auto;
  width: auto;
  padding: 0 0 38px 0;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 0 40px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0 0 83px 0;
  }
}

.video-block__header {
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    margin: 0 auto;
  }
}

.video-block__image {
  background-image: url("../img/video-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 201px;
  margin: 0 auto;
  background-size: cover;
  width: 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-desktop@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 500px;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video-block__slogan {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 32px 20px 29px 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 24px;
    padding: 57px 20px 35px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 20px 35px 20px;
  }
}

.video-block__description {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  color: $darkgrey;
  padding: 0 25px 34px 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 80px 0;
  }
}

.video-block__range {
  min-height: 45px;
  width: 100%;
  background-color: $back-menu-player;
  margin: 0 auto;
  position: absolute;
  bottom: 66px;
  left: 0;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    bottom: -19px;
    left: 0;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: $back-menu-toggle;
    top: 50%;
    left: 22px;
    right: 22px;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50px;
    border: 1px solid $white;
    background: $white;
    top: 19px;
    left: 57px;

    @media (min-width: $tablet-width) {
      top: -2px;
      left: 112px;
    }
  }
}

.video-block__menu {
  width: 280px;
  height: 66px;
  margin: 0 auto;
  padding: 0 25px 0 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: $greyinput;

  @media (min-width: $tablet-width) {
    background-color: $back-menu-player;
    position: static;
    width: 648px;
    min-height: 93px;
    margin: -93px auto 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video-block__menu-container {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.video-block__menu-replay {
  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    margin: 0 44px 0 35px;
  }
}

.video-block__replay {
  fill: $svg-mobile-rest;

  @media (min-width: $tablet-width) {
    fill: $white;
  }

  &:hover {
    fill: $svg-mobile-hover;

    @media (min-width: $tablet-width) {
      fill: $white;
      opacity: 0.6;
    }
  }

  &:active {
    fill: $svg-mobile-hover;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      fill: $white;
      opacity: 0.3;
    }
  }
}

.video-block__menu-subtitles {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 41px;
    flex-shrink: 0;
  }
}

.video-block__subtitles {
  fill: $svg-mobile-rest;
  padding: 2px 0 0 103px;

  @media (min-width: $tablet-width) {
    fill: $white;
    padding: 0;
  }

  &:hover {
    fill: $svg-mobile-hover;

    @media (min-width: $tablet-width) {
      fill: $white;
      opacity: 0.6;
    }
  }

  &:active {
    fill: $svg-mobile-hover;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      fill: $white;
      opacity: 0.3;
    }
  }
}


.video-block__menu-fullscreen {
  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    margin: 0 41px 0 31px;
  }
}

.video-block__fullscreen {
  fill: $svg-mobile-rest;

  @media (min-width: $tablet-width) {
    fill: $white;
  }

  &:hover {
    fill: $svg-mobile-hover;

    @media (min-width: $tablet-width) {
      fill: $white;
      opacity: 0.6;
    }
  }

  &:active {
    fill: $svg-mobile-hover;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      fill: $white;
      opacity: 0.3;
    }
  }
}

.video-block__menu-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
